/* = = = = = = = = = = =
WRAPPERS (GRID & FLEX)
All Selectors:
.gridcol, .flexrow
.flexrow__itm
.flexrow__itm.is-filler
.is-icongrp, .is-btngrp

.for-cell-sm, .for-cell-md, .for-cell-lg
.has-gap-xs, .has-gap-sm, .has-gap-md, .has-gap-lg, .has-gap-xl
= = = = = = = = = = = */

/*** General ***/
.gridcol, .flexrow {
  align-items: start;
  -webkit-justify-content: var(--wrapper-justify-content);
                     justify-content: var(--wrapper-justify-content);
  gap: var(--wrapper-gap);
  margin-inline: var(--wrapper-margin-x);
}
.has-gap-xs, .has-gap-sm, .has-gap-md, .has-gap-lg, .has-gap-xl { gap: var(--gap); }


/*** Gridcol ***/
.gridcol {
  display: grid;
  -webkit-justify-items: var(--wrapper-justify-items);
                     justify-items: var(--wrapper-justify-items);
  grid-template-columns: repeat(auto-fit, minmax(var(--wrapper-cell-width), 1fr));
}


/*** Flexrow ***/
.flexrow {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}
  .flexrow__itm { flex: 1 1 var(--wrapper-cell-width); }

  /*.flexrow__itm*/.is-filler { pointer-events: none; }

  .is-btngrp { align-items: end; }



